:root {
  /* set on load and at resize */
  --view-height: 0;
  --view-width: 100vw;
  --header-height: calc(var(--view-height) * 0.085);
  --header-border-width: calc(var(--header-height) / 16);
  --caller-height: calc(var(--header-height) - var(--header-border-width));
  --button-bar-height: var(--header-height);
  --button-bar-border-width: calc(var(--button-bar-height) / 16);
  --header-footer-color: #000000aa;

  --cute-font: 'Chango';

  --user-cards-wide: 2;
  --user-cards-wide-landscape: 2;

  --card-size: 0.95;
  --card-size-landscape: 0.95;

  --card-padding: calc(4vmin / var(--user-cards-wide));
  --card-backing-color: rgb(35, 45, 63);
  --card-face-color: #caf9ffab;
  --card-number-color: black;
  --card-grid-border-color: var(--card-backing-color);
  --card-grid-border-width: calc(0.4vmin / var(--user-cards-wide));

  --font-size: calc(10px + 3vmin);
  --mark-color: purple;
  --b-color: #ff401daa;
  --i-color: #ffb814aa;
  --n-color: #ade134aa;
  --g-color: #37c4f4aa;
  --o-color: #ff96eeaa;

  --opponent-cards: 12;
  --ball-limit: 35;

  --ball-width: calc(var(--caller-height) * 0.85);
  --ball-height: calc(var(--caller-height) * 0.95);

  --balls-per-width: calc(100vw / var(--ball-width));
}
* {
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
}
::-webkit-scrollbar {
  display: none;
}

@media screen and (orientation: landscape) {
  :root {
    --header-height: 8.5vw;
    --card-grid-border-width: calc(0.6vmin / var(--user-cards-wide-landscape));
    --card-padding: calc(6vmin / var(--user-cards-wide-landscape));
    --caller-height: 18vh;
  }
}
body {
  overscroll-behavior: contain;
  font-family: 'Open Sans';
  overflow: hidden;
  max-width: 100vw;
  /* max-height: 100vh; */
}
#mode-display {
  position: fixed;
  bottom: var(--button-bar-height);
  width: 100%;
  right: 0;
  font-family: var(--cute-font);
  font-size: calc(var(--header-height) / 6);
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 1vmin 2vmin;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  transition: opacity 640ms ease;
}
#mode-display.hidden {
  opacity: 0;
}
#hot-shots-2 {
  position: absolute;
  /* width: 100vmin; */
  /* transform: translateY(-50%) translateX(-50%); */
  /* height: 80vmin; */
  /* width: 100%; */
  height: 75vmin;
  border-radius: 3vmin;
  /* left: 50vw; */
  /* top: 50%;
  left: 50vw; */
  /* top: 50vh; */
  /* margin-left: calc((100vw - 90vmin) / 2); */
  /* margin-top: calc((100vh - 110vmin) / 2); */
  opacity: 0;
  /* transform: scaleY(0.9); */
  pointer-events: none;
  transition: opacity 210ms ease, transform 210ms ease;
  z-index: 0;
  border: 1vmin solid #333;
}
#hot-shots-2.showing {
  opacity: 1;
  /* transform: none; */
}
#video-message {
  position: absolute;
  color: rgb(243, 255, 82);
  font-family: var(--cute-font);
  font-size: calc(var(--header-height) / 1.5);
  top: 0;
  opacity: 0;
  z-index: 5;
  transition: opacity 1000ms ease;
}
#video-message.showing {
  opacity: 1;
}
button {
  outline: none;
  border-radius: 15%;
  border: 0.25vmin solid gray;
  cursor: pointer;
}
a {
  cursor: pointer;
}
input[type='checkbox'] {
  cursor: pointer;
}
#app {
  width: 100vw;
  height: var(--view-height);
  background-color: #333;
  background-color: black;
  display: grid;
  grid-template-rows: var(--header-height) 1fr var(--button-bar-height);
  grid-template-columns: 1fr;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size);
}
/* #app:after {
  position: fixed;
  content: ' ';
  width: 100vw;
  height: 100vh;
  background: #000000ef;
  top: 0;
  z-index: 23;
} */
#app-background {
  position: absolute;
  width: 100vw;
  height: var(--view-height);
  background-image: url('../assets/bluehills.jpg');
  background-image: url('../assets/bluehills.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  transform: none;
  transition: transform 1600ms ease-out;
  pointer-events: none;
}
#app.zoomed > #app-background {
  transform: scale(1.3);
}
#save-icon {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  width: var(--header-height);
  height: var(--header-height);
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 12;
  opacity: 0;
  color: rgb(129, 255, 145);
  transform: scale(0.9);
  transition: opacity 210ms ease, transform 320ms ease;
}
#save-icon.showing {
  opacity: 0.9;
  transform: scale(1);
}
#save-icon > small {
  font-size: 60%;
  color: white;
}
#save-icon > i {
  font-size: calc(var(--header-height) / 1.5);
}
header#main-header {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: flex-end;
  background: var(--header-footer-color);
  color: white;
  font-size: calc(var(--header-height) * 0.2);
  /* border: var(--header-border-width) outset #00000044; */
  z-index: 1;
  padding: calc(var(--header-border-width) / 2);
  padding: calc(var(--header-border-width) * 1.5);
  z-index: 2;
}
#main-header small {
  font-size: calc(var(--header-height) / 6);
  font-family: 'Open Sans';
}
#header-buttons {
  display: flex;
  flex-direction: row;
}
#title {
  font-family: var(--cute-font);;
  flex-grow: 1.5;
  /* width: 100%; */
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: calc(var(--header-height) / 6);
  font-size: calc(var(--header-height) / 2.1);
}
#title > #logo {
  position: absolute;
  top: var(--header-border-width);
  right: calc(var(--header-border-width) * 4);
  color: #eee;
  text-shadow: 0 0 1vmin black;
  transition: transform 420ms ease, opacity 420ms ease;
  font-size: 5.2vw;
  display: flex;
  text-shadow: -0.25vmin -0.35vmin 0 #333, 0.35vmin -0.35vmin 0 #333, -0.35vmin 0.35vmin 0 #333, 0.35vmin 0.35vmin 0 #333;

  /* transform-origin: top right; */
}
#title > #logo.obscured {
  /* opacity: 0;
  transform: scaleY(0); */
}
#title > #logo.featured {
  /* transform: scale(1.5); */
}
#title > #logo > div {
  transform: translateY(0);
  transition: transform 1000ms ease;
}
#title > #logo.featured > div {
  transform: translateY(calc(var(--header-height) * -1));
}
#title > #logo > div:nth-child(1) {
  transition-delay: 0ms;
}
#title > #logo > div:nth-child(2) {
  transition-delay: 140ms;
}
#title > #logo > div:nth-child(3) {
  transition-delay: 280ms;
}
#title > #logo > div:nth-child(4) {
  transition-delay: 320ms;
}
#title > #logo > div:nth-child(5) {
  transition-delay: 460ms;
}
#title > #logo > div:nth-child(6) {
  transition-delay: 600ms;
}
#title > #logo > div:nth-child(7) {
  transition-delay: 740ms;
}
#title > #logo > div:nth-child(8) {
  transition-delay: 980ms;
}
#title > #logo > div:nth-child(9) {
  transition-delay: 1120ms;
}
#title > #logo > div:nth-child(10) {
  transition-delay: 1260ms;
}
#title > #logo > div:nth-child(11) {
  transition-delay: 1400ms;
}
#title > #logo > div:nth-child(12) {
  transition-delay: 1540ms;
}
#title > #logo > div:nth-child(13) {
  transition-delay: 1680ms;
}

#title > small {
  padding-top: 6.5vw;
}
.modal-button {
  color: white;
  width: var(--header-height);
  height: 100%;
  align-self: center;
  background-size: 70%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: black;
  transform-origin: center center;
  border: 0.25vmin solid gray;
}
header .status-button > i {
  font-size: calc((var(--header-height) / 2));
}
header .status-button {
  background: black;
  background-repeat: no-repeat;
  background-size: calc((var(--header-height) / 1.4));
  background-position: center;
  padding: 0;
  border-radius: calc(var(--button-bar-border-width) / 1.5);
  width: calc((var(--header-height)) - (var(--header-border-width) * 3));
  min-width: calc((var(--header-height)) - (var(--header-border-width) * 3));
  height: calc(var(--header-height) - (var(--header-border-width) * 3));
  min-height: calc(var(--header-height) - (var(--header-border-width) * 3));
  color: white;
  border: 0.25vmin outset gray !important;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 210ms ease;
  will-change: background-color;
}
header .status-button.on:not(#menu-button) {
  background-color: rgb(30, 58, 149) !important;
  border-color: rgb(155, 255, 112) !important;
  border-style: inset;
}
#cards-button {
  background-image: url('../assets/cardicon.png');
  background-size: 80%;
}
#caller-button {
  background-image: url('../assets/voiceiconright.png');
  background-size: 80%;
}
#header-end {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
#display-button {
  background-color: black;
}
#balls-toggle {
  opacity: 0;
}
#fullscreen-toggle.full {
  background-color: rgb(47, 59, 42);
}
#players-left-display {
  white-space: pre;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#players-left-display > div:first-child {
  font-size: calc(var(--header-height) / 1.5);
  font-weight: bolder;
}
#account-button {
  position: relative;
  background-color: black;
  width: auto;
  /* width: calc(var(--header-height) * 2.5); */
  /* flex-grow: 1; */
  height: calc(var(--header-height) - (var(--header-border-width) * 2) - (var(--button-bar-border-width) * 2));
  font-size: calc(var(--header-height) / 5);
  /* padding-right: 2%; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  /* align-items: stretch; */
  align-content: center;
  /* justify-content: space-between; */
  justify-items: center;
  text-align: center;
  border: 0.25vmin outset gray;
  border-radius: calc(var(--button-bar-border-width));

  transition: opacity 310ms ease, background-color 210ms ease;
}
button #account-button {
  background: transparent;
  border-color: transparent;
}
#account-button > i {
  position: absolute;
  font-size: calc(var(--header-height) - (var(--header-border-width) * 2) - (var(--button-bar-border-width) * 2));
  color: white;
  opacity: 0.3;

}
#account-button.hidden {
  opacity: 0;
}
#account-button.logged-in > i {
  color: rgb(129, 255, 145);
  border-color: initial;
}
#account-button > div {
  z-index: 1;
}
#account-button > div:last-child {
  font-weight: bolder;
}
#account-button.logged-in {
  border-width: calc(var(--button-bar-border-width) / 2);
}
#account-button.logged-in > i {
  /* opacity: 0.3; */
}
#account-button.logged-in > #header-username {
  color: rgb(129, 255, 145);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 1px black;
  flex-wrap: wrap;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}
#account-button.logged-in > div:last-child {
  font-weight: bolder;
}
#account-button.logged-in > #header-username.smaller {
  font-size: 80%;
}
#account-button.truncated {
  /* width: calc(var(--header-height) - (var(--header-border-width) * 2) - (var(--button-bar-border-width) * 1.5)); */
}
#account-button.truncated > div {
  /* transform: scaleX(0);
  display: none; */
}
#menu-button {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: calc(var(--header-height) / 12);
  margin-right: calc(var(--header-height) / 12);
}
#menu-bar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* transition: transform 440ms ease; */
}
#danger-meter.ball-counter:after {
  display: none;
}
#danger-meter {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr;
  flex-grow: 2;
  height: 100%;
  background-color: transparent;
  margin-left: 1%;
  /* font-family: var(--cute-font); */
}
#danger-bar-list:after {
  content: 'DANGER';
  position: absolute;
  font-family: var(--cute-font);
  font-size: calc(var(--header-height) / 3);
  /* transform: rotate(90deg); */
  width: 100%;
  height: var(--header-height);
  margin-left: 1vmin;
  text-shadow: -0.25vmin -0.35vmin 0 #333, 0.35vmin -0.35vmin 0 #333, -0.35vmin 0.35vmin 0 #333, 0.35vmin 0.35vmin 0 #333;
  opacity: 0.75;
}
#danger-bar-list.countdown {
  background: initial;
}
#danger-bar-list.countdown:after {
  content: '';
}
#danger-meter.alert {
  animation: danger-alert;
  animation-duration: 120ms;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
#danger-meter.critical {
  animation-play-state: running;
  animation-duration: 300ms;
}
@keyframes danger-alert {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: red;
  }
}
#bingos-left-display small, #balls-left-display small {
  font-family: var(--cute-font);;
  font-size: calc(var(--header-height) / 5);
}
#bingos-left-display > #bingos-left-count, #balls-left-display > #balls-left-count {
  font-family: var(--cute-font);;
  font-size: calc(var(--header-height) / 1.75);
  padding: 2vw;
  padding-bottom: 0;
}
#bingos-left-display > div:first-child, #balls-left-display > div:first-child {
  padding-bottom: calc(var(--header-height) / 10);
}
#bingos-left-display, #balls-left-display {
  position: absolute;
  font-family: var(--cute-font);;
  font-weight: normal !important;
  right: 0;
  height: calc(var(--header-height) - (var(--header-border-width) * 2));
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  transform-origin: bottom;
  transform: scaleY(1.2);
  text-shadow: -0.25vmin -0.35vmin 0 #000, 0.35vmin -0.35vmin 0 #000, -0.35vmin 0.35vmin 0 #000, 0.35vmin 0.35vmin 0 #000;
  z-index: 2;
}
#danger-bar-list {
  height: 100%;
  /* display: grid;
  grid-template-columns: repeat(var(--opponent-cards), 1fr); */
  display: flex;
  flex: min-content;
  grid-row-start: 1;
  grid-row-end: span 2;
  transition: filter 320ms ease;
}
#danger-bar-list.ball-counter {
  display: grid;
  grid-template-columns: repeat(var(--opponent-cards), 1fr);
  grid-template-rows: 1fr 1fr 1fr;

}
#danger-bar-list.ball-counter > .danger-bar {
  background: white;
  height: 100%;
}
#danger-meter.blurred > #danger-bar-list {
  filter: grayscale();
}
#prize-label, #bingos-label {
  background-color: transparent !important;
  grid-column-start: 0;
  grid-column-end: span var(--opponent-cards);
  /* text-align: right; */
  font-weight: bolder;
  font-size: calc(var(--header-height) / 3.5);
}
#bingos-label {

}
@keyframes cycle {
  0%,
  100% {
    color: var(--b-color);
  }
  20% {
    color: var(--i-color);
  }
  40% {
    color: var(--n-color);
  }
  60% {
    color: var(--g-color);
  }
  80% {
    color: var(--o-color);
  }
}
#menu-button.status-button.on {
  background-color: rgb(51, 27, 26) !important;
}
.menu-bar {
  background-image: url('../assets/menubar.png');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: calc(var(--header-height) * 0.5);
  height: calc(var(--header-height) / 12);
  transform-origin: center;
  transition: transform 320ms ease;
  will-change: transform;

}
#menu-button.status-button.on .menu-bar:first-child {
  transform: translateY(210%) rotate(45deg);
}
#menu-button.status-button.on .menu-bar:last-child {
  transform: translateY(-210%) rotate(-45deg);
}
#menu-button.status-button.on .menu-bar:nth-child(2) {
  transform: scaleX(0);
}
.danger-bar {
  width: 100%;
  height: 100%;
  /* transition: all 320ms ease; */
  background: green;
  /* transform-origin: 50% 100%; */
  /* transition: transform 640ms linear, opacity 420ms ease, background-color 800ms ease; */
  /* margin: 1px; */
  /* will-change: transform, opacity, background-color; */
}
.danger-bar.called {
  opacity: 0.2;
}
.danger-bar.ball-counter {
  background: white;
}
.ball-counter > .danger-bar {
  border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
}
.danger-bar.out-of-game {
  opacity: 0.5;
  transform: scale(0) !important;
  background: rgb(86, 84, 219) !important;
}
.danger-bar.dark-red {
  background: rgb(170, 22, 22);
}
.danger-bar.red {
  background: red !important;
}
.danger-bar.orange {
  background: orange !important;
}
.danger-bar.yellow {
  background: rgb(204, 204, 0);
}
.danger-bar.yellowgreen {
  background: yellowgreen;
}
.danger-bar.subgreen {
  background: rgb(105, 184, 2);
}
.danger-bar.green {
  background: green;
}

#game-board {
  --board-padding: 0.5vw;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: flex-start;
  align-content: flex-start;
  /* justify-content: center; */
  overflow-y: auto;
  padding: 0 var(--board-padding);
  margin-top: var(--caller-height);
  padding-bottom: 0;
  /* transition: opacity 440ms ease; */
}
.card-area {
  display: flex;
  /* flex-flow: row; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: transform 1000ms ease, opacity 1000ms ease;
}
.card-area.dimmed {
  pointer-events: none;
}
.card-area.hidden {
  transform: scale(0.9);
  opacity: 0;
}
#opponent-count {
  font-size: var(--font-size);
  font-family: var(--cute-font);;
}
#opponent-card-area {
  padding: 0;
  padding-top: var(--board-padding);
  padding-bottom: calc(var(--board-padding) * 2);
  /* justify-self: center; */
  /* width: 100vw; */
  /* align-self: center; */
  background: green !important;
}
#opponent-card-area.hidden {
  display: none;
}
.card-space {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: calc((100vw / var(--user-cards-wide)) - (var(--board-padding)));
  height: calc((100vw / var(--user-cards-wide) - (var(--board-padding))) * 1.05);
  overflow: hidden;

}
#opponent-card-area > .card-space {
  --user-cards-wide: 6 !important;
  /* margin: 0.1vmin; */
}
.countdown {
  background-color: #3c5dc8;
}
.ranked {
  background-color: #418076;
}
.bonanza {
  background-color: #c89242;
}
.classic {
  background-color: #cc8686;
}
.lightning {
  background-color: #5a370f;
}
.standoff {
  background-color: #464734;
}
.danger-zones {
  background-color: #500e0e;
}

/* LANDSCAPE  */

@media screen and (orientation: landscape) {
  #app {
    --user-cards-wide: var(--user-cards-wide-landscape);
    grid-template-columns: var(--header-height) 1fr var(--button-bar-height);
    grid-template-rows: 100%;
  }
  #mode-display {
    bottom: 0;
    right: var(--button-bar-height);
    width: calc(100vw - var(--header-height) - var(--button-bar-height));
    font-size: calc(var(--header-height) / 4.5)
  }
  header#main-header {
    flex-direction: column;
    flex-flow: column-reverse;
    align-items: flex-start;
    width: var(--header-height);
  }
  header#main-header > div {
    /* writing-mode: vertical-rl; */
    /* transform: rotate(180deg); */

  }
  #logo, #title > small {
    /* display: none; */
    left: calc(var(--button-bar-height) + (var(--card-padding) + var(--button-bar-border-width))) !important;
  }
  header#main-header > #title > #logo {
    font-size: calc(var(--header-height) / 2.1);
    transform-origin: top left;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly */
  }
  #header-buttons {
    flex-direction: column;
  }
  #title > #logo.featured {
    /* transform: scale(2); */
  }
  #title > small {
    position: fixed;
   left: 0;
   top: calc(var(--button-bar-border-width) * -1.5)
  }
  #players-left-display {
    white-space: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #players-left-display > div:first-child {
    font-size: calc(var(--header-height) / 1.5);
    font-weight: bolder;
  }
  #players-left-display > div {
    text-align: center;
  }
  #menu-button {
    margin-bottom: 1.5vmin;
  }
  #menu-button.on > #menu-bar-container {
    transform: none;
  }
  #exit-fullscreen-toggle {
    transform: rotate(-90deg);
  }
  #account-button.status-button {
    /* margin-top: 10%; */
    /* margin-bottom: 10%; */
  }
  #account-button.truncated {
    min-height: calc(var(--header-height) - (var(--header-border-width) * 3));
    height: calc(var(--header-height) - (var(--header-border-width) * 3));
  }
  #account-button.logged-in > #header-username {
    font-size: calc(var(--font-size) / 2);
    text-align: center;
    margin-bottom: 1vh;
  }
  #account-button.logged-in > #header-username.smaller {
    font-size: 80%;
  }
  #account-button.logged-in > #header-username.smallest {
    font-size: 45%;
  }
  #user-info {
    font-size: calc(var(--header-height) / 5);
  }
  #header-end {
    /* justify-content: flex-start; */
  }
  .card-space {
    width: calc(((100vw - var(--header-height) - var(--button-bar-height)) / var(--user-cards-wide)) - var(--board-padding));
    /* height: calc(((100vw - var(--header-height) - var(--button-bar-height)) / var(--user-cards-wide)) - var(--board-padding)); */
    height: calc(((100vw - var(--header-height) - var(--button-bar-height)) / var(--user-cards-wide)) + (var(--card-padding)));
    max-height: calc(100vh - var(--caller-height));
  }
  #game-board {
    /* padding-top: var(--caller-height); */
  }
  #danger-meter {
    position: relative;
    width: calc(var(--header-height) - (var(--header-border-width) * 3));
    flex-grow: 0;
    padding-bottom: calc(var(--header-height) / 12);
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* display: none; */
  }
  #danger-bar-list:after {
    font-size: calc(var(--header-height) / 3);
    /* transform: rotate(180deg); */
    transform-origin: center;
    writing-mode: vertical-rl;
    width: calc(var(--header-height) - (var(--header-border-width) * 3));
    /* height: calc(100% - (var(--header-height) * 2) - 2vh); */
    height: 100%;
    /* left: 0; */
    bottom: -1vh;
    margin: 0;
  }
  #danger-bar-list {
    position: relative;
    writing-mode: lr;
    width: calc(var(--header-height) - (var(--header-border-width) * 3));
    min-height: 0;
    flex-grow: 1;
    transform: rotate(180deg);
    display: flex;
    flex-direction: column;
    /* flex: min-content; */
    grid-row-end: span 1;
  }
  #prize-label, #bingos-label {
    text-align: center;
  }
  #danger-bar-list.ball-counter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(calc(var(--opponent-cards) /2), 1fr);;
  }
  #danger-bar-list.ball-counter > .danger-bar {
    background: white;
    /* height: 100%; */
  }
  #bingos-left-display, #balls-left-display {
    position: relative;
    left: 0;
    /* bottom: var(--header-height); */
    width: var(--header-height) !important;
    max-width: var(--header-height);
    padding: var(--header-border-width);
    height: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* padding-top: var(--header-height); */
    transform-origin: top;
  }
  #bingos-left-display small, #balls-left-display small  {
    font-family: var(--cute-font);
    font-size: calc(var(--header-height) / 6);
  }
  #bingos-left-count {
    font-size: calc(var(--font-size) * 1.25) !important;
  }
  #bingos-left-display > div:first-child, #bingos-left-display > #bingos-left-count, #balls-left-display > div:first-child, #balls-left-display > #balls-left-count {
    padding: 0;
  }
}
