#aviary-screen {
  /* font-family: var(--cute-font); */
  font-weight: normal;
  position: absolute;
  width: 100vw;
  height: calc(100% - var(--button-bar-height));
  top: 0;
  background: #1a82d6;
  color: white;
  font-size: calc(var(--font-size) * 0.6);
  display: grid;
  grid-template-rows: calc(var(--header-height) / 1.25) 1fr;
  grid-row-gap: 2vh;
  border: 1.5vmin solid rgb(28, 210, 255);
  opacity: 0;
  pointer-events: none;
  transition: opacity 210ms ease;
  z-index: 2;
  padding: 4vmin;
  min-height: 0;
  overflow: hidden;
  padding-bottom: 0;
  overflow-y: auto;
  min-height: 0;
}
#aviary-screen > div {
  /* outline: 2px solid red; */
}
#aviary-screen.showing {
  opacity: 1;
  transform: none;
  pointer-events: all;
}
#aviary-screen > header {
  font-family: var(--cute-font);
  font-weight: normal !important;
  background: rgb(0, 43, 93);
  font-size: calc(var(--font-size) * 1.75);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3vmin;
  padding-right: 3vmin;
  text-shadow: -0.15vmin -0.15vmin 0 #000, 0.15vmin -0.15vmin 0 #000, -0.15vmin 0.15vmin 0 #000, 0.15vmin 0.15vmin 0 #000;
}
#aviary-screen > #chicken-list {
  flex-grow: 1;
  display: grid;
  grid-row-gap: 2vh;

  padding-bottom: var(--header-height);
}
#chicken-list > .chicken-panel {
  position: relative;
  background: #00000033;
  display: grid;
  grid-template-columns: calc(var(--header-height) * 1.5) 1fr max-content;
  grid-template-rows: min-content min-content min-content min-content 1fr;
  /* grid-row-gap: 3vmin; */
  padding: 3vh;
  border: 0.25vmin solid black;
  border-radius: 2vmin;
  text-shadow: -0.15vmin -0.15vmin 0 #000, 0.15vmin -0.15vmin 0 #000, -0.15vmin 0.15vmin 0 #000, 0.15vmin 0.15vmin 0 #000;
}
#chicken-list > .chicken-panel.equipped {
  background-color: green;
}
#chicken-list > .chicken-panel > * {
  /* padding: 0 2vmin; */
}
#chicken-list > .chicken-panel > img {
  image-rendering: pixelated;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: span 4;
  align-self: center;
  justify-self: center;
  height: calc(var(--header-height));
  transform: scaleX(-1);
  margin-right: 3vh;
}
.chicken-name {
  font-family: var(--cute-font);
  font-size: var(--font-size);
  color: yellow;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: span 2;
  padding-bottom: 8vh;
}
.chicken-experience {
  position: absolute;
  right: 3vh;
  top: 2vh;
  font-family: var(--cute-font);
  font-size: calc(var(--font-size) / 1.5);
  width: 45%;
  text-align: right;
}
.effect-label {
  font-family: var(--cute-font);
  grid-row-start: 2;
  grid-column-start: 2;
  margin-bottom: 1vmin;
}
.duration-label {
  font-family: var(--cute-font);
  margin: 1vmin;
  grid-row-start: 4;
  font-size: var(--font-size);
}
.recharge-label {
  font-family: var(--cute-font);
  grid-column-start: 2;
  margin: 1vmin;
  font-size: var(--font-size);
}
.chicken-effects {
  background: #00000033;
  border: 0.25vmin solid black;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 2vw;
  border-radius: 1vmin;
  grid-column-start: 2;
  /* grid-column-end: span 2; */
  grid-row-start: 3;
  padding: 3vh;
  margin-bottom: 2vmin;
  grid-row-gap: 1vh;
  align-items: end;
}
.chicken-activation {
  grid-row-start: 2;
  grid-row-end: span 5;
  grid-column-start: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chicken-activation button {
  position: absolute;
  right: 3vh;
  bottom: 3vh;
  font-family: var(--cute-font);
  background: green;
  color: white;
  border-radius: 1vmin;
  font-size: var(--font-size) !important;
  padding: calc(var(--font-size) / 2);
  margin-left: calc(var(--font-size));
}
.chicken-panel.equipped > .chicken-activation > button {
  background: rgb(109, 109, 11);
}
#aviary-screen small {
  color: yellow;
  font-size: calc(var(--font-size) / 1.5);
  font-family: 'Open Sans', sans-serif;
}

@media screen and (orientation: landscape) {
  #aviary-screen {
    width: calc(100% - var(--button-bar-height));
    height: 100%;
    top: 0;
    left: 0;
    grid-template-rows: calc(var(--header-height) / 1.25) 1fr;

  }
  #aviary-screen header {
    font-size: 6vw;
  }
  #aviary-screen header > div {
    flex-grow: 1;
    text-align: left;
    margin-left: 3vmin;
  }
}
