.ball {
  width: var(--ball-width);
  height: var(--ball-height);
  max-height: var(--ball-height);
  min-width: var(--ball-width);
  transform: scale(0.85);
  transform-origin: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-radius: 50%; */
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  font-family: var(--cute-font);;
  font-size: calc(var(--caller-height) * 0.4);
  /* font-weight: bolder; */
  /* background-image: url('../assets/bingoball.png'); */
  background-image: url('../assets/bingoball.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: transform 300ms ease;
  will-change: transform;
  /* z-index: 5; */
  color: white;
  animation: bounce;
  animation-iteration-count: 1;
  animation-duration: 300ms;
  animation-play-state: running;
  animation-direction: normal;
  /* animation-fill-mode: forwards; */
  /* animation-delay: 250ms; */
  text-shadow: -0.25vmin -0.25vmin 0 #000, 0.25vmin -0.25vmin 0 #000, -0.25vmin 0.25vmin 0 #000, 0.25vmin 0.25vmin 0 #000;
}
.ball > div {
  flex-grow:1;
}
.ball > div:nth-child(1) {
  font-size: calc(var(--ball-height) * 0.25);
  transform: scaleX(0.9);
  padding-top: 15%
}
.ball > div:nth-child(2) {
  transform: scaleX(0.75);
  position: absolute;
  font-size: calc(var(--ball-height) * 0.4);
  padding-top: 30%;
}
.ball:nth-last-child(2) {
  transform: scale(1);
}
.ball.hidden {
  transform: translateY(calc(var(--caller-height) * -1));
  opacity: 0;
  /* transition: transform 200ms ease; */
  /* transform: scale(0.4); */
}
.ball.obscured {
  opacity: 0 !important;
}
.ball.no-display {
  display: none;
}
.ball:before {
  content: ' ';
  position: absolute;
  width: var(--ball-width);
  height: var(--ball-height);
  top: 0;
  /* border: calc(var(--ball-height) / 7) solid #00000077; */
  border-radius: 50%;
  /* will-change: transform; */
  opacity: 0.35;
}
.ball.b:before {
  background-color: var(--b-color);
}
.ball.i:before {
  background-color: var(--i-color);
}
.ball.n:before {
  background-color: var(--n-color);
}
.ball.g:before {
  background-color: var(--g-color);
}
.ball.o:before {
  background-color: var(--o-color);
}
.ball.bouncing {
  animation: bounce;
  animation-iteration-count: 1;
  animation-duration: 250ms;
  animation-play-state: running;
}
@keyframes bounce2 {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.85);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(calc(var(--caller-height) * -1)) scaleY(1);
  }
  25% {
    transform: translateY(calc(var(--caller-height) * -0.5)) scaleY(1);
  }
  50% {
    transform: translateY(0) scaleY(1);
  }
  75% {
    transform: translateY(0) scaleY(0.85);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}