.bingo-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: var(--cute-font);
  font-size: calc(var(--font-size) * 1.4);
  color: white;
  text-shadow: -0.25vmin -0.25vmin 0 #000, 0.25vmin -0.25vmin 0 #000, -0.25vmin 0.25vmin 0 #000, 0.25vmin 0.25vmin 0 #000;
  pointer-events: none;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  z-index: 5;
  text-align: center;
}
.bingo-indicator.showing {
  opacity: 1;
}
.bingo-indicator > .prefix, .bingo-indicator > .suffix {
  font-size: var(--font-size);
}
.bingo-indicator > .suffix {
  font-size: calc(var(--font-size) / 1.25);
  text-shadow: -0.15vmin -0.15vmin 0 #000, 0.15vmin -0.15vmin 0 #000, -0.15vmin 0.15vmin 0 #000, 0.15vmin 0.15vmin 0 #000;
}