#button-bar {
  display: grid;
  grid-template-columns: min-content min-content min-content 1fr min-content min-content;
  grid-template-rows: 1fr;
  grid-gap: calc(var(--button-bar-border-width) * 1.5);
  /* border: var(--button-bar-border-width) outset #00000044; */
  background: #000000aa;
  padding: calc(var(--header-border-width) * 1.5);
}
#button-bar > div {
  display: flex;
  justify-content: center;
}
#button-bar > div:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#button-bar > div:last-child > button {
  flex-grow: 0;
  background: palegoldenrod;
}
#button-bar button.status-button {
  background-repeat: no-repeat;
  background-size: calc((var(--header-height) / 1.4));
  background-position: center;
  padding: 0;
  border-radius: calc(var(--button-bar-border-width) / 1.5);
  font-size: calc(var(--button-bar-height) * 0.18);
  width: calc((var(--header-height)) - (var(--header-border-width) * 3));
  height: calc(var(--header-height) - (var(--header-border-width) * 3));
  color: white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /* border-color: rgb(79, 163, 90); */
  border-style: inset;
  border-width: calc(var(--header-border-width) / 2);
  transition: transform 210ms ease, background-color 320ms ease;
}
#button-bar button.status-button#reset-button, #button-bar button.status-button#error-button {
  width: calc((var(--header-height)) - (var(--header-border-width) * 8));
  height: calc(var(--header-height) - (var(--header-border-width) * 8));
  margin: var(--header-border-width);
}
#button-bar button.status-button.inactive {
  border-style: outset;
  /* border-color: initial; */
}
#button-bar > div > #start-button {
  background-color: rgb(18, 90, 18);
  background-image: url('../assets/playicon.png');
  border-style: outset;
  transform: scale(1);
  animation: throb 350ms ease;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}
#button-bar > div > #start-button.throbbing {
  animation-play-state: running;
}
@keyframes throb {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.925);
    background-color: rgb(40, 179, 40);
  }
}
#button-bar > div > #start-button.inactive {
  background-color: rgb(34, 44, 31) !important;
  border-style: outset;
  transform: scale(1.05);
}
#button-bar > div > #start-button.game-started {
  background-color: rgb(22, 124, 22);
  background-image: url('../assets/pauseicon.png');
  border-style: inset;
  transform: scale(1);
  /* border-color: green;
  border-width: calc(var(--button-bar-border-width) / 2); */
}
#store-button {
  background-color: rgb(51, 27, 26);
  border-style: outset;
  transform: scale(1);
  animation: throb 350ms ease;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}
#store-button.unavailable {
  color: #999 !important;
  background-color: #374431 !important;
  pointer-events: none;
}
#store-button.unavailable > i {
  color: #999 !important;
}
#store-button.inactive {
  background-color: #225010;
}
#store-button > i {
  color: white;
  font-size: calc(var(--button-bar-height) / 2);
}
#store-button.store-open > i {
  display: none;
}
#store-button.store-open:after {
  content: 'EXIT STORE';
}
#store-button.inactive:after {
  content: 'STORE';
}
#view-button {
  background-color: rgb(80, 130, 143);
  background-image: url('../assets/viewicon.png');
}
#view-button.inactive {
  background-color: rgb(32, 43, 46);
  background-image: url('../assets/viewofficon.png');
}
#voice-button {
  background-color: rgb(156, 126, 70);
  background-image: url('../assets/voiceicon.png');
}
#voice-button.inactive {
  background-color: rgb(71, 58, 33);
  background-image: url('../assets/voiceofficon.png');
}
#button-bar > div > #reset-button {
  border-style: outset;
  background-color: rgb(95, 64, 63);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/refreshicon.png');
  transition: transform 320ms ease, background-color 320ms ease;
}
#button-bar > div > #reset-button.closing {
  background-color: red;
  background-image: url('../assets/cancelicon.png');
  background-size: 70%;

}

#button-bar > div > #error-button {
  background-color: transparent;
  border: 0;
  background-image: url('../assets/pooicon.png');
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
@media screen and (orientation: landscape) {
  #button-bar {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content 1fr min-content min-content;
  }
  #button-bar button.status-button#reset-button {
    margin-top: var(--header-border-width);
  }
  #button-bar > div {
    align-items: center;
  }
  #button-bar > div:last-child {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
  }
}