#caller-area {
  position: fixed;
  top: var(--header-height);
  height: var(--caller-height);
  min-height: var(--caller-height);
  width: calc(100vw);
  left: 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: #00000044;
  pointer-events: none;
}
#ball-row {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* flex-grow: 1; */
  padding-right: calc(var(--caller-height) + 1vw);
  z-index: 0;

}
#ball-space {
  min-width: var(--caller-height);
  height: var(--caller-height);
  /* transform: translateX(80%); */
}
#call-progress {
  width: 100%;
  height: 0.5vh;
  background: rgb(130, 214, 117);
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center right;
  transition: transform 4000ms linear, opacity 4000ms linear;
  /* transition-delay: 60ms; */
}
@media screen and (orientation: landscape) {
  #caller-area, #caller-area:after {
    top: 0;
    left: calc(var(--header-height));
    width: calc(100vw - var(--header-height) - var(--button-bar-height));
    height: var(--header-height);
    /* left: 0; */
    /* width: var(--header-height);
    height: calc(100vh - var(--header-height)); */
  }
}