.card {
  background: var(--card-backing-color);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.05fr 1fr;
  /* border: 2px solid rgba(0, 0, 0, 0.315); */
  border-radius: calc(2.5vw / var(--user-cards-wide));
  transform: scale(var(--card-size));
  padding: var(--card-padding);
}
.card:not(.opponent) {
  transition: transform 100ms ease, filter 210ms ease;
}
.card:not(.opponent) > div > .number-square {
  text-shadow: -0.25vmin -0.25vmin 0 #000, 0.25vmin -0.25vmin 0 #000, -0.25vmin 0.25vmin 0 #000, 0.25vmin 0.25vmin 0 #000;
}
.card.inactive {
  filter: grayscale(80%);
}
.card.hidden {
  opacity: 0;
  /* pointer-events: none; */
}
.letter-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}
.number-grid {
  background: var(--card-face-color);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /* transition: transform 320ms ease, opacity 400ms ease, background-color 10s ease; */
}
.card.won {
  animation: flash-card;
  animation-duration: 400ms;
  /* animation-direction: alternate;
  animation-fill-mode: forwards; */
  animation-iteration-count: infinite;
  background-color: green;
  filter: none !important;
}
@keyframes flash-card {
  0%, 100% {
    background-color: green;
  }
  50% {
    background-color: white;
    transform: scale(0.9);
  }
}
.card.opponent {
  padding: 0;
  pointer-events: none;
  /* transition: none; */
}
.card.opponent > div > .number-square {
  border: 0;
}
.letter-row {
  background: rgb(180, 180, 180);
  border-top-left-radius: calc(2vw / var(--user-cards-wide));
  border-top-right-radius: calc(2vw / var(--user-cards-wide));
  border: 0;
}
.letter-row > .card-head-letter {
  border: var(--card-grid-border-width) solid var(--card-grid-border-color);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  font-family: 'Open Sans';
  font-size: calc(3vh / var(--user-cards-wide));
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
  display: flex;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  color: white;
}
.letter-row > .card-head-letter:first-of-type {
  border-top-left-radius: calc(2vw / var(--user-cards-wide));
  border: var(--card-grid-border-width) solid var(--card-grid-border-color);
  border-bottom: 0;
  border-right: 0;
}
.letter-row > .card-head-letter:nth-of-type(5) {
  border-top-right-radius: calc(2vw / var(--user-cards-wide));
  border: var(--card-grid-border-width) solid var(--card-grid-border-color);
  border-bottom: 0;
  border-left: 0;
}
.card-head-letter.b {
  background-color: var(--b-color);
}
.card-head-letter.b:after {
  content: 'B';
}
.card-head-letter.i {
  background-color: var(--i-color);
}
.card-head-letter.i:after {
  content: 'I';
}
.card-head-letter.n {
  background-color: var(--n-color);
}
.card-head-letter.n:after {
  content: 'N';
}
.card-head-letter.g {
  background-color: var(--g-color);
}
.card-head-letter.g:after {
  content: 'G';
}
.card-head-letter.o {
  background-color: var(--o-color);
}
.card-head-letter.o:after {
  content: 'O';
}
.card.opponent > .letter-row > .card-head-letter:after {
  content: '';
}
@media screen and (orientation: landscape) {
  .card {
    transform: scale(var(--card-size-landscape));
  }
  .letter-row > .card-head-letter {
    font-size: calc(4.5vw / var(--user-cards-wide));
  }
}