#bonus-spot {
  --danger-color: rgb(10, 243, 10);
  position: absolute;
  right: 0;
  top: var(--header-height);
  content:' ';
  width: var(--caller-height);
  height: var(--caller-height);
  background-color: #8f8a61;
  border: 1.25vmin solid rgb(102, 102, 59);
  border-radius: 2vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: opacity 320ms ease;
  will-change: opacity, transform, background-color;
  z-index: 3;
}
#bonus-spot > #meter {
  position: absolute;
  border-radius: 0.5vmin;
  width: calc(var(--caller-height) - 3vmin);
  height: calc(var(--caller-height) - 4vmin);
  background: rgba(7, 161, 7, 0.65);
  transform-origin: bottom;
  pointer-events: none;
  align-self: flex-end;
  transition: transform 1000ms ease;
  z-index: 0;
}
#bonus-spot > #meter-ring {
  position: absolute;
  border: 1.5vmin double rgb(10, 243, 10);
  border-radius: 2vmin;
  width: var(--caller-height);
  height: var(--caller-height);
  pointer-events: none;
  transition: opacity 320ms ease;
  z-index: 4;
}
/* #bonus-spot > #meter.flashing {
  animation: bonus-flash;
  animation-duration: 180ms;
  animation-iteration-count: infinite;
  animation-play-state: running;
  background:rgb(30, 221, 30);
} */
#bonus-spot.showing-giftbox > #meter {
  opacity: 0;
}
#bonus-spot > #meter-ring.flashing {
  animation: bonus-flash;
  animation-duration: 180ms;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
#bonus-spot > #meter-ring.flashing.special {
  opacity: 1 !important;
  transition: none;
  animation: spin;
  animation-duration: 360ms;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: linear;
}
@keyframes spin {
  0% {
    transform: rotate(0);
    border-color: green;
  }
  25% {
    transform: rotate(90deg);
    border-color: rgb(92, 255, 92);
  }
  50% {
    transform: rotate(180deg);
    border-color: green;
  }
  75% {
    transform: rotate(270deg);
    border-color: rgb(92, 255, 92);
  }
  100% {
    transform: rotate(360deg);
    border-color: green;
  }
}
#bonus-spot.danger-0 {
  --danger-color: rgb(10, 243, 10);
  /* border-color: rgb(10, 243, 10); */
}
#bonus-spot.danger-1 {
  --danger-color: rgb(149, 214, 8);
  /* border-color: rgb(149, 214, 8); */
}
#bonus-spot.danger-2 {
  --danger-color: rgb(214, 166, 8);
  /* border-color: rgb(214, 166, 8); */
}
#bonus-spot.danger-3 {
  --danger-color: rgb(214, 8, 8);
  /* border-color: rgb(214, 8, 8); */
}
#bonus-spot.hidden {
  opacity: 0;
  pointer-events: none;
}
#bonus-spot.bee > #bonus-chicken {
  animation: none;
  content: url('../assets/shadowbee.png');
}
#bonus-spot.bust {
  /* background: rgb(158, 0, 0); */
}
#bonus-spot.bust > #bonus-chicken {
  /* transform: scale(0.6); */
  /* animation: none; */
}
#bonus-spot.showing-giftbox {
  /* background-color: #3cff00; */
  border: 1.25vmin solid rgb(35, 83, 3);
  animation: glow;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
#bonus-spot > #bonus-chicken {
  /* image-rendering: pixelated; */
  width: 80%;
  height: 80%;
  animation: pulse;
  animation-duration: 1600ms;
  animation-iteration-count: infinite;
  animation-play-state: running;
  /* transform-origin: 50% 30%; */
}
#bonus-spot > #bonus-chicken {
  /* content: url('../assets/chickenstand.png'); */
}
#bonus-spot.showing-giftbox > #bonus-chicken {
  content: url('../assets/giftbox.png');
}
#bonus-spot.hidden > #bonus-chicken {
  animation-play-state: paused;
}
/* #bonus-spot.showing-giftbox > #bonus-chicken {
  animation-duration: 520ms;
  animation: none;
} */
#bonus-spot.showing-giftbox > #corner-chicken-overlay {
  opacity: 1;
}
#corner-chicken-overlay {
  position: absolute;
  /* right: 0; */
  /* bottom: 0; */
  padding: calc(var(--font-size) / 6);
  color: var(--danger-color);
  font-family: var(--cute-font);
  font-size: calc(var(--font-size) / 1.1);
  font-weight: normal;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  pointer-events: none;
  opacity: 0.5;
  transform: scaleX(0.75);
  transition: opacity 210ms ease, transform 210ms ease;
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.85);
  }
}
@keyframes bonus-flash {
  0%,
  100% {
    /* border-color: white; */
    opacity: 1;
  }
  50% {
    border-color: green;
    opacity: 1;

  }
}
@keyframes glow {
  0% {
    background-color: var(--danger-color);
    border-color: rgb(0, 102, 128);
    transform: scale(1.1) rotate(0deg);
  }
  25% {
    transform: scale(1) rotate(-5deg);
  }
  50% {
    background-color: white;
    border-color: rgb(0, 31, 172);
    transform: scale(1.1) rotate(0deg);
  }
  75% {
    transform: scale(1) rotate(5deg);
  }
  100% {
    background-color: var(--danger-color);
    border-color: rgb(0, 102, 128);
    transform: scale(1.1) rotate(0deg);
  }
}
@keyframes peck {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

@media screen and (orientation:landscape) {
  #bonus-spot {
    top: 0;
    right: var(--button-bar-height);
  }
}