
#new-record-modal > #hot-shots-2 {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  /* width: 70vw;
  height: calc(70vw * (16/9)); */
  height: 90vh;
  top: 50%;
  left: 50%;
  pointer-events: none;
  /* border: 1vmin solid #333; */
  z-index: 0;
}
#game-end-modal, #new-record-modal {
  position: absolute;
  font-family: var(--cute-font);
  /* background: rgb(5, 80, 15); */
  color: white;
  width: 90vmin;
  height: 110vmin;
  margin-left: calc((100vw - 90vmin) / 2);
  margin-top: calc((100vh - 110vmin) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  font-size: calc(var(--header-height) / 2.75);
  border: 1vmin solid #333;
  transition: transform 310ms ease, opacity 205ms ease;
  border-radius: 3vmin;
  overflow-y: auto;
  padding: 2vh;
  z-index: 6;
}
#game-end-modal > #new-record-modal {
  transform: translateX(-50%) translateY(-50%);
  /* top: 45vmin;
  left: 55vmin; */
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 90vh;
  background: green;
  margin: 0;
  z-index: 3;
}
#game-end-modal.records-broken {
  background: transparent;
  border-color: transparent;
  width: 90vw;
  margin-left: calc((100vw - 90vw) / 2);
  
}
#game-end-modal.records-broken:after {
  position: fixed;
  background: #000000aa;
  width: 100vw;
  height: 100vh;
  content: ' ';
  z-index: 1;
  top: 0;
}
#new-record-modal > * {
  z-index: 3;
}
#new-record-modal > #records-list {
  width: 100%;
  display: grid;
  flex-grow: 1;
  align-items: center;
  /* justify-content: center; */
  padding: 5vh;
  text-shadow: -0.15vmin -0.15vmin 0 #000, 0.15vmin -0.15vmin 0 #000, -0.15vmin 0.15vmin 0 #000, 0.15vmin 0.15vmin 0 #000;
}
.record-entry > div {
  /* outline: 1px solid red; */
}
#game-end-modal #new-record-modal > .button-area {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  min-height: 18vh;
}
#game-end-modal #new-record-modal > .button-area > button {
  margin: 0 !important;
}
.record-entry {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* grid-template-columns: min-content minmax(max-content, 0.3fr) min-content minmax(max-content, 0.3fr); */
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-row-gap: 1vh;
  grid-column-gap: 2vw;
  /* grid-template-rows: */
  font-size: var(--font-size);
}
.record-entry > .record-entry-title {
  grid-column-end: span 4;
}
.record-value:last-child:last-of-type {
  color: yellow;
  font-size: calc(var(--font-size) * 1.5);

}
#game-end-modal > #exp-display, #game-end-modal #results-grid, #game-end-modal #speed-results {
  font-size: calc(var(--header-height) / 4);
  border: 0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
#speed-results {
  color: yellow;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(var(--font-size) / 1.75) !important;
  /* margin-left: 10vw; */
  margin-bottom: 4vh;
  padding: 0 !important;
}
#speed-results small {
  color: white;
  font-size: calc(var(--font-size) / 2) !important;
}
.chicken-exp-display > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.chicken-exp-display {
  /* width: 100vw; */
  width: 100%;
  /* height: auto; */
  display: grid;
  grid-template-columns: var(--header-height) 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  align-content: center;
  justify-items: flex-start;
  justify-content: center;
  /* grid-column-gap: 0vw; */
  font-size: calc(var(--header-height) / 5);

}
.chicken-exp-display > img {
  image-rendering: pixelated;
  width: calc(var(--header-height) / 1.5);
  transform: scaleX(-1);
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  justify-self: center;
}
.chicken-exp-display > .chicken-exp-bar {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  height: 90%;
  width: 100%;
}
#game-end-modal > small {
  font-size: calc(var(--header-height) / 5.5);
  margin-bottom: 4vh;
  color: #aaa;
}
#game-end-modal.hidden {
  transform: scale(0.9);
  opacity: 0;
  pointer-events: none;
}
#game-end-modal.hidden > video {
  /* display: none; */
}
#game-end-modal.countdown .game-end-title {
  font-size: calc(var(--header-height) / 1.5);
}
#game-end-modal.countdown #game-end-rank {
  font-size: calc(var(--header-height) / 2.5);
}
#game-end-modal.countdown #game-end-message {
  font-size: calc(var(--header-height) / 3);
}
#game-end-modal.playing-video {
  background-color: transparent;
  border: 0;
  z-index: 6;
  height: 70vmin;
  margin-top: calc((100vh - 70vmin) / 2);
  text-shadow: -0.25vmin -0.35vmin 0 #000, 0.35vmin -0.35vmin 0 #000, -0.35vmin 0.35vmin 0 #000, 0.35vmin 0.35vmin 0 #000;
}
#game-end-modal.playing-video #game-end-message {
  border: 0;
  align-items: flex-end;
}
#game-end-modal.playing-video #game-end-rank {
  border: 0;
  align-items: flex-end;
}
#game-end-modal.second-place {
  background-color: rgb(66, 80, 5);
}
#game-end-modal.third-place {
  background-color: rgb(100, 89, 27);
}
#game-end-modal.lost {
  background-color: rgb(49, 9, 9);
}
.game-end-title {
  font-size: calc(var(--header-height) / 2);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: var(--header-height);
  text-shadow: -0.15vmin -0.15vmin 0 #000, 0.15vmin -0.15vmin 0 #000, -0.15vmin 0.15vmin 0 #000, 0.15vmin 0.15vmin 0 #000;
  /* margin: 2vmin; */
}
#new-record-modal .game-end-title {
  z-index: 6;
}
#prize-display {
  font-size: 6vw;
  color: var(--money-green);
  /* width: max-content; */
  padding: 0;
  flex-grow: 1;
  padding: 2vw;
}
#daub-bonus {
  color: rgb(94, 236, 255);
}
#results-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  /* grid-row-gap: 1vmin; */
  /* justify-items: space-between; */
  /* align-items: center; */
  border-radius: 1vmin;
  overflow-y: auto;
  grid-column-gap: 1vw;
}
#results-grid > .card-result-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  /* grid-row-gap: 1vmin; */
  grid-column-gap: 1vw;
}
#results-grid .card-label {
  width: 100%;
  padding: 0.5vmin;
  text-align: left;
  padding-left: 1vw;
  border: 1px solid black;
  /* width: 50%; */
}
#results-grid.conserve-height {
  display: grid;
  grid-template-columns: min-content 0.5fr min-content 0.5fr;
}
#results-grid.conserve-height > .card-label {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

#results-grid .card-analysis {
  /* width: 50%; */
  display: flex;
  align-items: center;
  border-radius: inherit;
  border: 0.25vmin solid #333;
  flex-direction: column;
  background: #00000022;

}
#results-grid .card-analysis > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card-analysis > .analysis-row > div {
  background-color: transparent;
  padding: 0.5vh 2vh;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: pre;
  flex-grow: 1;
}
.card-analysis > .analysis-row.card-bingos > div:first-of-type {
 color: yellow;
 /* font-size: calc(var(--font-size) / 1.1); */
 flex-grow: 0;
 /* min-width: max-content; */
 /* width: 12vw; */
 justify-content: flex-start;
 /* width: 50%; */
}
.card-analysis > .analysis-row > div:nth-of-type(2) {
 /* padding-left: 6vw; */
}
.card-analysis > .analysis-row > div:last-of-type {
  /* color: var(--money-green); */
  justify-content: flex-end;
  /* min-width: 12vw; */
  flex-grow: 0;
}
.analysis-row.card-bingos {

}
.analysis-row.card-bonuses {
  color: rgb(94, 236, 255);
}
#game-end-modal.second-place > .game-end-title {
  font-size: calc(var(--header-height) * 1.2);
}
#game-end-modal.third-place > .game-end-title {
  font-size: calc(var(--header-height) * 0.8);
}
#game-end-modal.lost > .game-end-title {
  font-size: calc(var(--header-height) * 0.6);
}
#game-end-modal > #game-end-rank {
  color: rgb(255, 255, 202);
  font-weight: bolder;
  font-size: calc(var(--header-height) / 1.5);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -0.15vmin -0.15vmin 0 #000, 0.15vmin -0.15vmin 0 #000, -0.15vmin 0.15vmin 0 #000, 0.15vmin 0.15vmin 0 #000;
}
.game-end-message {
  display: flex;
  /* padding: 1vmin 2vmin; */
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  /* flex-grow: 1; */
  width: 95%;
  /* border-radius: inherit; */
  /* border: 1vmin solid rgba(0, 0, 0, 0.24); */
  /* font-size: calc(var(--header-height) / 2); */
  text-shadow: -0.15vmin -0.15vmin 0 #000, 0.15vmin -0.15vmin 0 #000, -0.15vmin 0.15vmin 0 #000, 0.15vmin 0.15vmin 0 #000;
  flex-grow: 1;
}
.game-end-message#bonuses {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--font-size) / 1.2);
  justify-content: flex-start;
  align-items: center;
}
.game-end-message#bonuses > #speed-results {

}
#speed-results > div:first-child {
  text-align: left;
  font-size: calc(var(--font-size) / 1.2);
}
#game-end-modal.lost > #game-end-rank {
  font-size: calc(var(--header-height) * 0.6);
}
#game-end-modal.lost > #game-end-message {
  font-size: calc(var(--header-height) * 0.3);
}
#game-end-modal .button-area {
  font-size: calc(var(--header-height) / 1.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  max-height: 18%;
  min-height: 18%;
  padding-bottom: 2vh;
}
#game-end-modal .button-area .modal-button {
  font-size: calc(var(--header-height) / 3);
  font-family: var(--cute-font);
  width: 30%;
  border-radius: 1vmax;
  background: rgb(33, 131, 4);
  border: 0.5vmin solid rgba(0, 0, 0, 0.24);
  text-shadow: -0.15vmin -0.15vmin 0 #000, 0.15vmin -0.15vmin 0 #000, -0.15vmin 0.15vmin 0 #000, 0.15vmin 0.15vmin 0 #000;
}
#game-end-modal.lost > .button-area .modal-button {
  background: rgb(34, 44, 7);
}
@media screen and (orientation: landscape) {
  #game-end-modal, #new-record-modal {
    width: 75vw;
    height: 96vh;
    margin-left: 12.5vw;
    margin-top: 2vh;
  }
  #results-grid {
    width: 100%;
  }
  #exp-display .chicken-exp-display {

  }
  #prize-display {
    font-size: 3.25vw;
  }
}