#game-end-modal {
  position: absolute;
  background-color: #000000bb;
  width: 90vmin;
  height: 110vmin;
  margin-left: calc((100vw - 90vmin) / 2);
  margin-top: calc((100vh - 110vmin) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(var(--header-height) / 2.75);
  border: 1vmin solid #333;
  transition: transform 310ms ease, opacity 205ms ease;
  z-index: 12;
}
#game-end-modal > small {
  font-size: calc(var(--header-height) / 5.5);
  margin-bottom: 4vh;
  color: #aaa;
}
#game-end-modal.hidden {
  transform: scale(0.9);
  opacity: 0;
  pointer-events: none;
}
#game-end-title {
  font-size: calc(var(--header-height));
  font-weight: bolder;
  background: rgb(5, 80, 15);
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#game-end-title:after {
  content: 'BINGO!';
}
#game-end-message {
  display: flex;
  padding: 2vmin;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  flex-grow: 1;
  width: 100%;
  background: #111;
  font-size: calc(var(--header-height) / 3);
}
#game-end-modal > .modal-button {
  flex-grow: 0.3;
  font-size: calc(var(--header-height) / 2.5);
  font-weight: bolder;
  width: 60%;
  height: 10%;
  margin: 3vh;
  border-radius: 1vmax;
}
#agree-button.modal-button {
  background: rgb(33, 131, 4);
}
@media screen and (orientation: landscape) {
  #game-end-modal {
    width: 60vw;
    height: 90vmin;
    margin-left: 20vw;
    margin-top: calc((100vh - 90vmin) / 2);
  }
}