#log-in-screen {
  position: fixed;
  background-color: #080808;
  width: 90vmin;
  margin-left: calc((100vw - 90vmin) / 2);
  /* margin-top: calc((100vh - 110vmin) / 2); */
  margin-top: 50vh;
  transform: translateY(-50%);
  height: 80vh;
  color: white;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(var(--header-height) / 2) 0fr 6vmin 1fr 0fr;
  grid-row-gap: 2vh;
  align-content: flex-start;
  border: 1vmin solid #333;
  z-index: 13;
  padding: 3vh;
  border-radius: calc(var(--header-height) / 10);
  font-size: calc(var(--font-size) / 1.5);
  transition: transform 210ms ease, opacity 210ms ease, background-color 320ms ease;
}
#log-in-screen > #log-in-title {
  font-size: 6vmin;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}
#log-in-screen a {
  color: rgb(5, 92, 255);
  text-decoration: underline;
}
#log-in-screen > .button-area, #log-in-screen > #login-inputs {
  border-radius: inherit;
  border: 2px solid #222;
  background: black !important;
}
#log-in-screen > #login-inputs {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: inherit;
  grid-row-gap: 2vh;
  padding: 2vh;
}
#log-in-error {
  height: calc(var(--font-size) / 2);
  color: red;
  text-align: right;
  /* font-size: var(--font-size); */
  font-weight: bolder;
  opacity: 0;
  transition: opacity 210ms ease;
}
#log-in-error.showing {
  opacity: 1;
}
#log-in-error.white {
  color: white;
}
#log-in-error.green {
  color: green;
}
#log-in-screen > #login-inputs > input {
  width: 100%;
  border-radius: 0.5vmax;
  /* text-align: center; */
  font-size: 4.5vmin;
  height: 11vmin;
  min-height: 11vmin;
  padding-left: 1.5vw;
}
#log-in-screen.register {
  background-color: #0d0f01;
}
#remember-check {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
#remember-check > input {
  margin-left: 5%;
  height: 100%;
  width: calc(var(--header-height) / 2);
}
#log-in-screen > .button-area {
  width: 100%;
  height: 24vh;
  max-height: 24vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vh;
  align-self: end;
}
#log-in-screen.hidden {
  transform:  translateY(-50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
}
#log-in-screen > .button-area > .modal-button {
  font-size: calc(var(--header-height) / 2.5);
  font-weight: bolder;
  border-radius: 0.5vmax;
  width: 100%;
  height: 100%;
  margin: 0;
}
#log-in-screen > .button-area >  #agree-button {
  background-color: rgb(3, 85, 0);
  margin-bottom: 2vh;
}
#log-in-screen > .button-area >  #cancel-button {
  background-color: rgb(78, 85, 13);
}
#log-in-screen > #mode-swap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#log-in-screen > #mode-swap > a {
  margin-left: 1.5vmin;
}
@media screen and (orientation: landscape) {
  #log-in-screen {
    width: 60vw;
    height: 100%;
    margin-left: 20vw;
    margin-top: 0;
    transform: none;
  }
  #log-in-screen.hidden {
    transform: scale(0.9);
  }
  #log-in-screen > .button-area {
    width: 100%;
    height: 20vh;
    max-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    align-self: end;
  }
  #log-in-screen > .button-area >  #agree-button {
    background-color: rgb(3, 85, 0);
    margin: 0;
    margin-right: 2vh;
  }
  #log-in-screen > #login-inputs > input {
    width: 100%;
    border-radius: 0.5vmax;
    /* text-align: center; */
    font-size: 4vmin;
    height: 10vmin;
    min-height: 10vmin;
    padding-left: 1.5vw;
  }
}