#marker-select-modal {
  position: absolute;
  background: #111;
  width: 90vmin;
  /* height: 110vmin; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(var(--header-height) / 2.75);
  border: 1vmin solid #333;
  transition: transform 310ms ease, opacity 205ms ease;
	z-index: 12;
	transform: translateX(-50%) translateY(-50%);
	left: 50vw;
	top: 50vh;
}
#marker-select-modal.hidden {
	pointer-events: none;
	opacity: 0;
}
#marker-select-modal > header {
	font-family: var(--cute-font);
	font-size: 6vmin;
	padding: 2vmin;
	color: white;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#marker-select-modal > #marker-selection {
	/* width: 100%; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	align-items: start;
	justify-items: center;
	margin: 2vmin;
	grid-row-gap: 3vmin;
}
#marker-selection > img {
	width: 70%;
	height: auto;
	padding: 1vmin;
}
#marker-selection > img.locked {
	opacity: 0.2;
	outline: 2px solid black;
	padding: 2vmin;
}
#marker-selection > img.current {
	outline: 2px solid green !important;
}
#marker-select-modal > #button-area {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 2vmin;
}
#marker-select-modal .modal-button {
  font-size: calc(var(--header-height) / 3);
  font-weight: bolder;
	padding: 0;
	border-radius: 1vmax;
	height: calc(var(--header-height) / 1.5);
	width: calc(var(--header-height) * 1.5);
	align-self: flex-end;
}

@media screen and (orientation: landscape) {
  #marker-select-modal {
		width: 65vw;
		height: calc(var(--view-height) - var(--button-bar-height) - (var(--button-bar-border-width) * 3));
		top: unset;
		transform: translateX(-50%);
    bottom: var(--button-bar-height);
	}
	#marker-select-modal > #marker-selection {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		align-items: start;
		justify-items: center;
		margin: 2vmin;
	}
}