.number-square {
  color: var(--card-number-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10vw / var(--user-cards-wide));
  font-weight: bolder;
  border: var(--card-grid-border-width) solid var(--card-grid-border-color);
  opacity: 0;
  transition: opacity 720ms ease, background-color 720ms ease;
}
.number-square.showing {
  opacity: 1;
  transform: none;
}
.number-square.free {
  font-size: calc(6vw / var(--user-cards-wide));
}
.number-square.tinted {
  background-color: rgb(219, 255, 219);
}
.number-square.flashing {
  background-color: rgb(24, 184, 24) !important;
}
.number-square > .chip:after {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  outline: 0.75vmin solid rgb(11, 134, 11);
  opacity: 0;
  transform-origin: center;
  transform: scale(5) rotate(90deg);
  transition: transform 600ms ease, opacity 420ms ease;
}
.number-square.flashing > .chip:after {
  transform: scale(1);
  opacity: 1;
}
.number-square > div {
  /* transform: scale(0.5); */
  pointer-events: none;
}
.number-square > .chip {
  background-image: url('../assets/bingochip.png');
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.35);
  /* display: none; */
  pointer-events: none;
  /* background-image: url('../assets/bingochip.webp'); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: opacity 280ms ease, transform 280ms ease;
  will-change: transform, opacity;
}
.number-square.blue > .chip {
  background-image: url('../assets/bingochipblue.png');
}
.number-square.green > .chip {
  background-image: url('../assets/bingochipgreen.png');
}
.number-square.orange > .chip {
  background-image: url('../assets/bingochiporange.png');
}
.number-square.made-free {
  color: transparent;
}
.number-square.made-free:before {
  color: black;
  position: absolute;
  font-size: calc(5vw / var(--user-cards-wide));
  content: 'FREE';
}
.number-square > .mark {
  position: absolute;
  content: ' ';
  width: 70%;
  height: 70%;
  opacity: 0;
  background: rgba(255, 0, 0, 0.548);
}
.chip.dark {
  background: #bd070795;
}
.chip.light {
  background: #bd070785;
}
.number-square.marked > .chip {
  opacity: 1;
  transform: scale(1.1);
  /* display: block; */
}
.number-square.marked > .mark {
  opacity: 1;
}
.number-square.highlighted {
  background: rgb(33, 206, 10) !important;
}
.number-square.highlighted > .mark {
  border: 0 !important;
}

@media screen and (orientation: landscape) {
  .number-square {
    font-size: calc(9vw / var(--user-cards-wide));
  }
  .number-square.free {
    font-size: calc(5vw / var(--user-cards-wide));
  }
}