#pre-game-modal {
  position: absolute;
  width: 100vw;
  /* height: calc(var(--view-height) - var(--header-height) - var(--button-bar-height)); */
  margin-top: var(--header-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
  padding-bottom: 4vmin;
  font-size: calc(var(--header-height) / 2.75);
  border: 1vmin solid #333;
  transition: transform 310ms ease, opacity 205ms ease, background-color 210ms ease;
  z-index: 12;
  font-size: calc(var(--font-size) * 1.25);
  color: white;
  font-family: var(--cute-font);;
  text-align: center;
}
/* #pre-game-modal.countdown {
  background-color: #0c142f;
}
#pre-game-modal.ranked {
  background-color: #0c2f2a;
}
#pre-game-modal.classic {
  background-color: #1b1b1b;
}
#pre-game-modal.lightning {
  background-color: #5a370f;
}
#pre-game-modal.standoff {
  background-color: #464734;
}
#pre-game-modal.danger-zones {
  background-color: #500e0e;
} */
#pre-game-modal > header {
  background: black;
  font-family: var(--cute-font);;
  font-size: calc(var(--header-height) / 2);
  color: white;
  width: 100%;
  padding: 1vh;
}
#pre-game-modal small {
  font-size: calc(var(--header-height) / 4.5);
  color: #aaa;
}
#pre-game-modal.hidden {
  transform: scale(0.95);
  opacity: 0;
  pointer-events: none;
}
#pre-game-modal > #pre-game-body {
  display: flex;
  /* align-items: stretch; */
  justify-content: center;
  width: 100%;
}
#pre-game-description, #pre-game-mode {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  background: #00000066;
  border-radius: 2vmin;
  margin: 2vmin;
  flex-grow: 1;
  min-height: 50vw;
  padding: 4vmin;
  text-shadow: -0.35vmin -0.35vmin 0 #000, 0.35vmin -0.35vmin 0 #000, -0.35vmin 0.35vmin 0 #000, 0.35vmin 0.35vmin 0 #000;
}
#pre-game-description {
  width: 40%;
}
#pre-game-mode {
  font-size: calc(var(--font-size) / 1.25);
  justify-content: space-between;
}
#pre-game-mode > div:first-of-type {
  color: rgb(251, 251, 152);
  display: flex;
  justify-content: center;
  align-items: center;
}
#pre-game-description > div:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#pre-game-mode > div:last-of-type {
  font-size: var(--header-height);
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#pre-game-modal.classic #pre-game-description > div:last-of-type > div {
  font-size: calc(var(--font-size) / 1.5);
  padding: 1vmin;
}
#pre-game-stats {
  display: grid;
  font-family: 'Open Sans';
  align-items: center;
  height: 100%;
  font-size: calc(var(--font-size) / 1.75);
  width: 60%;
  text-align: right;
  padding: 4vmin;
}
#log-in-nagger {
  font-family: var(--cute-font);
  text-align: center;
  line-height: var(--font-size);
}
.stat-row {
  display: flex;
  justify-content: space-between;
}
#pre-game-modal > #button-area {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 100%;
  height: 100%;
  transition: opacity 320ms ease, transform 320ms ease;
}
#pre-game-buttons {
  display: flex; flex-direction: column;
  /* width: 100%; */
  height: 100%;
  min-height: 20vh;
  flex-grow: 1;
  padding-left: 5vmin;
}
#pre-game-modal .modal-button {
  font-size: calc(var(--header-height) / 2.5);
  border-radius: 1vmax;
  /* margin: 1vh; */
  font-family: var(--cute-font);;
  font-weight: normal;
  align-self: flex-end !important;
  text-shadow: -0.25vmin -0.35vmin 0 #000, 0.35vmin -0.35vmin 0 #000, -0.35vmin 0.35vmin 0 #000, 0.35vmin 0.35vmin 0 #000;
}
#pre-game-modal .modal-button.disabled {
  pointer-events: none !important;
  background-color: gray !important;
  color: rgb(100, 100, 100);
}
#pre-game-modal > #button-area.unavailable {
  pointer-events: none;
  opacity: 0;
  transform: scale(1.1);
}
#pre-game-modal #begin-button.modal-button {
  font-size: 7vw;
  background: rgb(43, 85, 13);
  width: 40vw;
  height: 10vh;
  margin-bottom: 1vh;
}
#pre-game-modal #cancel-button.modal-button {
  background: rgb(102, 104, 13);
  font-size: 3vw;
  width: 80%;
  height: 6vh;
}
@media screen and (orientation: landscape) {
  #pre-game-modal {
    width: 70vw;
    height: 100vh;
    margin-left: 15vw;
    /* margin-top: calc((100vh - 95vmin) / 2); */
    margin-top: 0;
  }
  #pre-game-stats {
    font-size: calc(var(--font-size) / 1.5);
  }
  #pre-game-modal .modal-button {
    font-size: calc(var(--header-height) / 2.5);
    border-radius: 1vmax;
    margin: 2vh;
    font-family: var(--cute-font);;
    font-weight: normal;
    align-self: flex-end !important;
    text-shadow: -0.25vmin -0.35vmin 0 #000, 0.35vmin -0.35vmin 0 #000, -0.35vmin 0.35vmin 0 #000, 0.35vmin 0.35vmin 0 #000;
  }
  #pre-game-modal #begin-button.modal-button {
    font-size: calc(var(--header-height) / 1.5);
    background: rgb(43, 85, 13);
    width: 100%;
    height: 100%;
  }
  #pre-game-modal #cancel-button.modal-button {
    background: rgb(102, 104, 13);
    font-size: calc(var(--header-height) / 4.5);
    width: 70%;
    height: 60%;
  }
  #pre-game-description, #pre-game-mode {
    min-height: 40vh;
  }
  #pre-game-mode {
    font-size: var(--font-size);
  }
}