#store-screen {
  /* font-family: var(--cute-font); */
  font-weight: normal;
  position: absolute;
  width: 100vw;
  height: calc(100% - var(--button-bar-height));
  top: 0;
  background: #1a3b0c;
  color: white;
  font-size: calc(var(--font-size) * 0.6);
  display: grid;
  grid-template-rows: calc(var(--header-height) / 1.25) var(--header-height) 1fr;
  border: 1.5vmin solid rgb(173, 255, 173);
  opacity: 0;
  pointer-events: none;
  transition: opacity 210ms ease;
  z-index: 2;
  padding-bottom: 20vh;
  overflow: hidden;
}
#store-screen > div {
  /* outline: 2px solid red; */
}
#store-screen.showing {
  opacity: 1;
  transform: none;
  pointer-events: all;
}
#store-screen > header {
  font-family: var(--cute-font);
  font-weight: normal !important;
  background: #081a00;
  font-size: calc(var(--font-size) * 1.75);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3vmin;
  padding-right: 3vmin;
  text-shadow: -0.15vmin -0.15vmin 0 #000, 0.15vmin -0.15vmin 0 #000, -0.15vmin 0.15vmin 0 #000, 0.15vmin 0.15vmin 0 #000;
}
#store-screen > header > img {
  image-rendering: pixelated;
  width: calc(var(--header-height) / 2);
  height: calc(var(--header-height) / 2);
  transform: rotate(10deg);
  display: none;
}
#store-screen > header > img.flipped {
  transform: scaleX(-1) rotate(10deg);
}
#store-screen > #tab-area {
  font-family: var(--cute-font);
  /* background: #618151; */
  font-size: 6vw;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  text-shadow: -0.15vmin -0.15vmin 0 #000, 0.15vmin -0.15vmin 0 #000, -0.15vmin 0.15vmin 0 #000, 0.15vmin 0.15vmin 0 #000;
  /* z-index: 4; */
  background: #081a00;

}
#store-screen > #tab-area > div > span {
  transform: scaleX(0.8);
}
#store-screen > #tab-area > div {
  align-self: stretch;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */
  color: #ccc;
  border: 1vmin solid rgb(26, 37, 26);
  border-bottom: 0;
  border-radius: 2vmin 2vmin 0 0;
  background: #081a00;
  transform: scaleY(0.9);
  transform-origin: bottom left;
  transition: transform 210ms ease, background-color 500ms ease;
}
#store-screen > #tab-area > div.selected {
  background-color: #1a3b0c;
  border-color: transparent;
  /* transform: scaleY(1.05); */
  color: rgb(255, 255, 88);
}
#store-section-container {
  /* width: 200%; */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 100% 100%;
  /* grid-gap: 3vmin; */
  transition: transform 500ms ease;
}
#store-section-container.shifted-left {
  transform: translateX(-100%);
}
.store-body {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 3vmin;
  height: calc(var(--view-height) - var(--header-height) - var(--header-height) - var(--button-bar-height) - calc(var(--font-size) * 2));
  min-height: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding: 3vmin;
  overflow-y: auto;
  /* background: blue !important; */
}
.prize-category {
  width: 100%;
}
.prize-category:last-of-type {
  margin-bottom: 6vh;
}
.store-body button {
  background: green;
  color: white;
  border-radius: 1vmin;
  font-size: var(--font-size) !important;
  padding: calc(var(--font-size) / 2);
  margin-left: var(--font-size);
}
.prize-category:not(.item-grid) button {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 2;
  grid-column-end: span 2;
  margin: 0;
}
.store-body button.unavailable {
  background: gray;
  color: #ccc;
  border: 0;
  padding: calc(var(--font-size) / 2);
  pointer-events: none;
}
.store-body .category-label {
  font-family: var(--cute-font);
  width: 100%;
  background-color: #00000066;
  background-color: rgba(255, 166, 0, 0.301);
  font-size: var(--font-size);
  padding: var(--font-size);
  color: white;
  border-radius: 2vmin;
  border: 1px solid black;
  text-shadow: -0.25vmin -0.35vmin 0 #000, 0.35vmin -0.35vmin 0 #000, -0.35vmin 0.35vmin 0 #000, 0.35vmin 0.35vmin 0 #000;
  margin-top: calc(var(--header-height) / 2);
}
.category-label:first-of-type {
  margin-top: 0;
}
.store-body .item-row {
  position: relative;
  background-color: #22000022;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vmin 2vmin;
  border-radius: 2vmin;
  border: 1px solid black;
  width: 100%;
}
#store-permanent.store-body .item-row:not(.item-selection) {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr 1fr;
}
.store-body .item-selection {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.consumable-title, .permanent-title {
  font-family: var(--cute-font);
  color: rgb(255, 255, 112);
  padding: 2vh;
  text-shadow: 1px 1px 2px black;
}
.consumable-title {
  min-height: 12vh;
}
.permanent-title {
  font-family: 'Open Sans';
  flex-grow: 1;
  padding: 0 !important;
}
.store-body > .item-grid.consumable > .item-selection.owned:after,
.store-body > .item-grid:not(.consumable) > .item-selection.owned:after,
.store-body .item-row.owned:after {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  font-size: calc(var(--font-size) / 1.5);
  font-family: var(--cute-font);
  font-weight: normal;
  color: rgb(147, 255, 115);
  content: 'EQUIPPED';
  text-shadow: 1px 1px 2px black;
}
.item-selection.owned:after {
  font-size: 95% !important;
}
.store-body > .item-grid:not(.consumable) > .item-selection.owned:after {
  /* transform: translateY(0%); */
  font-size: 90%;
  content: 'OWNED';
}
.store-body > .item-grid:not(.consumable) > .item-selection.owned > .item-cost {
  opacity: 0 !important;
}
.store-body .item-row.owned > .permanent-title {
  opacity: 0.65;
}
.store-body :not(.consumable) .item-row:not(.item-selection).owned:after {
  /* position: relative; */
  /* transform: translateY(-50%); */
  /* bottom: 0; */
  right: 0;
  margin-right: 5vmin;
  content: 'OWNED';
}

.store-body > .item-grid {
  position: relative;
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr min-content; */
  /* display: flex;
  flex-wrap: wrap;
  flex-flow: row; */
  grid-gap: 1vmin;
  text-align: center;
  width: 100%;
}
#store-permanent .prize-category:not(.item-grid) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#store-permanent > .item-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#store-permanent .item-row:not(.item-selection) {
  position: relative;
  width: 100%;
  height: min-content;
  padding: 2vmin 5vmin;
}
.item-cost {
  margin: 2vh 0;
  font-family: var(--cute-font);
  font-size: calc(var(--font-size) / 1.25) !important;
  font-weight: normal !important;
  text-shadow: 1px 1px 2px black;
}
.store-body > .item-grid.consumable > .item-selection.owned.full > .item-cost {
  opacity: 0 !important;
}

.item-description {
  margin: 1vh 0;
}
.store-body .item-container:first-child {
  background: #77996600;
}
.store-body .item-row.owned {
  background-color: #5e44b122;
  border-color: #00000066;
}
.store-body .item-selection.owned:after {
  /* content: ''; */
}
.store-body .item-row.owned > button {
  opacity: 0;
  pointer-events: none;
}
.store-body .item-selection.owned > button {
  color: rgb(207, 207, 207);
  background: gray;
  opacity: 0.5;
  pointer-events: none;
}
.store-body .consumable .item-selection.owned:not(.full) > button {
  background: green;
  color: white;
  opacity: 1 !important;
  pointer-events: all;
}
.store-body .item-selection.owned:not(.full) > button.unavailable {
  color: rgb(207, 207, 207) !important;
  background: gray !important;
  opacity: 1 !important;
  pointer-events: none;
}
.store-body .item-selection.owned > .item-cost {
  opacity: 1 !important;
}
.store-body .item-row.owned > div:last-of-type {
  opacity: 0;
}
.store-body .item-row > button {
  font-size: calc(var(--font-size) * 1.2);
  font-weight: bolder;
}
.store-body .item-row:not(.item-selection) {

}
.store-body .item-row:not(.item-selection) > div:first-of-type {
  /* font-family: var(--cute-font); */
  font-size: calc(var(--font-size) / 1.25);
  flex-grow: 1;
  padding-left: 1vw;
}
.store-body .item-row > div:last-of-type {
  color: rgb(180, 255, 130);
  font-size: calc(var(--font-size) * 1);
  font-weight: bolder;
  white-space: pre;
}
.store-body .item-row > div:last-of-type.unavailable {
  color: rgb(255, 102, 102);
}
.store-body > .item-grid button {
  margin: 0;
  padding: 1.5vmin 3vmin;
  font-size: calc(var(--font-size) / 1.25) !important;
}
#store-screen > #info-footer {
  font-family: var(--cute-font);
  font-weight: normal !important;
  position: absolute;
  height: calc(var(--font-size) * 2);
  font-size: calc(var(--font-size) / 1.25);
  bottom: 0;
  width: 100%;
  white-space: pre;
  background: #081a00;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#store-screen > #info-footer span {
  color: rgb(128, 238, 128);
  font-size: 150%;
}

@media screen and (orientation: landscape) {
  #store-screen {
    width: calc(100% - var(--button-bar-height));
    height: 100%;
    top: 0;
    left: 0;
    /* grid-template-rows: calc(var(--header-height) / 1.25) var(--header-height) 1fr; */

  }
  #store-screen header {
    font-size: 6vw;
  }
  #store-screen header > div {
    flex-grow: 1;
    text-align: left;
    margin-left: 3vmin;
  }
  #store-screen > #tab-area {
    position: absolute;
    right: 0;
    width: 60vw;
    height: calc(var(--header-height) / 1.25);
    font-size: 2.5vw;
    z-index: 0;
  }
  #store-screen > #tab-area > div {
    border: 1vmin solid rgb(26, 37, 26);
    border-bottom: 0;
  }
  #store-section-container {
    /* grid-template-columns: calc(100% - var(--button-bar-height) - 3vmin) calc(100vw - var(--button-bar-height) - 3vmin); */
    /* grid-template-columns: 100% 100%; */
    grid-column-gap: 0;
  }
  #store-section-container.shifted-left {
    transform: translateX(-100%);
  }
  .store-body > .item-grid:not(.consumable) > .item-selection.owned:after {
    transform: translateY(-50%);
    content: 'OWNED';
  }

  .store-body {
    /* width: 100%; */
    height: calc(var(--view-height) - var(--header-height) - calc(var(--font-size) * 2));
  }
  .store-body > .item-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #store-permanent > .item-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #store-permanent .item-row:not(.item-selection) {
    width: 50%;
  }
}
