#store-modal {
  position: fixed;
  background-color: #160d02;
  width: 90vw;
  height: 100vw;
  transform: translateX(-50%) translateY(-50%);
  left: 50vw;
  top: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  font-size: calc(var(--header-height) / 2.75);
  border: 1vmin solid #333;
  border-radius: 3vmin;
  transition: transform 310ms ease, opacity 205ms ease;
  padding: 2vmin 5vmin;
  padding-top: 0;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(1.1);
  pointer-events: none;
  z-index: 12;
  transition: opacity 320ms ease, transform 320ms ease;
}
#store-modal.showing {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  pointer-events: all;
}
#store-modal > #slot-select {
  background: #00000066;
  border-radius: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  width: auto;
  padding: 0 5vmin;
  align-self: center;
  font-size: calc(var(--header-height) / 4);
  transition: transform 200ms ease;
}
#store-modal > #slot-select > div {
  display: flex;
}
#store-modal > #slot-select > div > div {
  margin: 1vmin;
}
#store-modal > .button-area > #cancel-button {
  background: rgb(124, 118, 39);
}
#store-modal > .button-area > button.unavailable {
  background-color: rgb(32, 20, 20);
  /* pointer-events: none; */
}
#store-modal > .button-area > button {
  flex-grow: 0.3;
  font-size: var(--font-size);
  font-weight: bolder;
  width: 60%;
  height: 20%;
  border-radius: 1vmax;
  background: rgb(33, 131, 4);
  margin: 1vmin;
}
#store-modal-message {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
#store-modal .button-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}
@media screen and (orientation: landscape) {
  #store-modal {
    width: calc(var(--view-height));
    height: calc(var(--view-height) * 0.9);
    transform: translateX(-50%) translateY(-50%);
    left: 50vw;
    top: 50%;
  }
}